<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Custom CSS -->
  <link href="/assets/css/common.css" rel="stylesheet">
</head>
<body>

<script src="/assets/libs/rest-api-js/sha512.min.js"></script>
<script src="/assets/libs/rest-api-js/hmac-sha512.min.js"></script>
<script src="/assets/libs/rest-api-js/enc-base64.min.js"></script>
<script src="/assets/libs/rest-api-js/restfulapi.js"></script>
<script src="/assets/js/common.js"></script>
</body>
</html>